@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

:root {
    --prim-color: #2f1c6a;
    --sec-color: #673DE6;
    --bg-color: #F4F5FF;
    --border-color: #673de646;
    --ff-main:"DM Sans", sans-serif;
}
body {
    display: flex;
    justify-content: center;
}

.history {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}

.history .card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    margin: 20px;
    width: 350px;
    height: 430px;
    flex-wrap: wrap;
}

.card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    flex-wrap: wrap;
    font-family: var(--ff-main);
}
.card .autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: var(--sec-color);
    justify-content: left;
    background-color: var(--bg-color);
    height: 90px;
    padding: 0 15px;
    border-top: 1px solid var(--border-color);
    flex-wrap: nowrap;
}
.card .info {
    height: 337px;
    padding: 15px 20px 0px 20px;
}

.content .name{
    padding: 0px 30px;
    color: var(--prim-color);
}

.content .name h3{
    font-size: 18px;
}

.content .text{
    font-weight: 300;
    color: var(--prim-color);
}
.content .link{
    padding-bottom: 40px;
    font-weight: 700;
    color: var(--sec-color);
    text-decoration: none;
}

.content img{
    width: 65px;
}
.content .stars i{
    color: var(--sec-color);
}
.info .stars{
    color: var(--sec-color);
    padding-left: 2px;
    padding-top: 30px;
}
