.nav{
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #673de6;
  color: white;
  border-radius: 0px 0px 10px 10px;
}

a{
  text-decoration: none;
  color: white;
}

.nav .nav-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-right: 5px;
}

button{
  background-color: #673de6;
  color: white;
  border: 3px outset white;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}