/* CSS = Hoja de estilo en cascada */

/* Selector universal
Selecciona todos los elementos */
/** { 
/*    color: salmon;
/*}

/* Este es el selector de elemento */
/*button{
/*   color: red;
/*}

/* Este es el selector de clase */
/*.especial{
/*    color: blue;
/*}

/* Un ID no se debe repetir en ningun momento, es un identificador unico */
/*#btn-super-esp{
/*    color: green;
}/*

/* CSS PROPIEDADES */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
    font-size: 10px;
}
h1{
    color: rgb(241, 7, 7);
    font-size: 50px;
    text-decoration: underline green solid 2px;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 60px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}