.newWS{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  border: 1px solid #b0b0b0;
  border-radius: 16px;
  padding: 18px;
  margin: 0 12px;
  box-shadow: 0px 5px 8px 2px #3535359e;
  background-color: #4f5d58;
}

.newWS .formScreen{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  }


.newWS .title {
  width: 90%;
  text-align: center;
  font-size: 26px;
  padding: 10px 0;
}

.buttons .btnNW {
    border: none;
    min-height: 100%;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 0 12px;
    width: 130px;
  }

  .buttons .Submit {
    background-color: #384943ad;
  color: #D6BD98;
  font-size: 16px;
  cursor: pointer;
  }
  .buttons .Cancelar {
    background-color: #d57474b0;
    color: #D6BD98;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .newWS .btnBig{
    height: 50px;
    padding: 5px 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
  }

  .buttons .btnWS:hover{
    box-shadow: 0px 0px 8px 5px #3535359e;
  }

  .inputsWS{
    padding: 10px 0;
    display: flex;
    width: 100%;
    gap: 6px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }