/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  padding: 10px 20px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu > li {
  position: relative;
}

.menu > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu > li > a:hover {
  background-color: #575757;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #575757;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .menu > li {
    width: 100%;
  }

  .dropdown-content {
    position: relative;
  }
}

@media (max-width: 2000px) {
  .menu {
    flex-direction: row;
  }

  .menu > li {
    width: 100%;
  }

  .dropdown-content {
    position: relative;
  }
}