@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --primary-text-color: #000000E6;
    --secondary-text-color: #868686;
    --border-color: #ececec;
}

.mainRoot{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/* Color card */

.cards{
    width: 250px;
    height: 300px;
    display: flex; 
    flex-direction: column;
    row-gap: 10px;
}

.cards .colors{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.cards .colors .color:nth-child(1){
    height: 40%;
}

.cards .colors .color:nth-child(2){
    height: 25%;
}

.cards .colors .color:nth-child(3){
    height: 20%;
}

.cards .colors .color:nth-child(4){
    height: 15%;
}
.cards .card-info{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cards .card-info .btn-like{
    height: 38px;
    display: flex;
    gap: 10px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);
    border-radius: 10px;
    justify-content: center; /* Movimiento en el eje x */
    align-items: center; /* movimiento en el eje y */
    padding: 0 14px;
    font-size: 14px;
}
.cards .card-info .btn-like:hover{
    background-color: rgba(255, 205, 205, 0.411);
    transition: 132ms ease-in-out;
    
}

.cards .card-info .update{
    font-size: 14px;
    color: var(--secondary-text-color);
}

.cards .colors .color {
    display: flex;
    align-items: flex-end;
}

.cards .colors .color span{
    color: #e6e6e6;
    background-color: rgba(0, 0, 0, 0.274);
    padding: 3px;
    border-top-right-radius: 5px;
    width: 75px;
    text-align: center;
    font-size: 12px;
    opacity: 0;
}

.cards .colors .color:hover span{
    opacity: 1;
    transition: 198ms ease-in-out;
}

.cards-container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    width: 1120px;
}
