.hiddenCreateChannel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

.createChannelForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  padding: 5px 0px;
  background-color: #6c7771;
  border-radius: 6px;
  width: 90%;
}

.createChannelForm .errorForm {
  min-width: 90%;
  margin-top: 6px;
  margin-bottom: 0;
}

.hiddenCreateChannel label {
  font-size: 16px;
  font-weight: 500;
}

.inputsCreateChannel {
  width: 90%;
  min-height: 35px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  text-align: center;
}

.buttonsNewChannel{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  width: 90%;
  margin: 6px 0;
}

.buttonsNewChannel .Submit {
  background-color: #384943ad;
  color: #D6BD98;
  font-size: 16px;
  cursor: pointer;
}

.buttonsNewChannel .Cancelar {
  background-color: #d57474b0;
  color: #D6BD98;
  font-size: 16px;
  cursor: pointer;
}