.workSpace {
  justify-content: flex-start !important;
  height: 100vh !important;
  gap: 8px;
}

.hiddenNav{
  position: absolute;
  top: 60px;
  width: 90%;
  left: 5%;
  background-color: #5e6260;
  border-radius: 2px 2px 6px 6px;
  z-index: 2;
}

.navWS {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin: 12px 12px 0;
  background-color: #00000060;
  padding: 10px;
  border-radius: 6px;
}

.btnWS {
  display: inherit;
  gap: 6px;
}

.btnWS .btnHidden {
  background-color: #777777ad;
}
.btnWS .btnHidden:hover{
  background-color: #8e8e8ead;
}

.chatBox{
  display: flex;
  width: 90%;
  min-height: 90%;
  background-color: #00000060;
  border: 12px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}


