.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 320px;
  max-height: 90%;
  overflow-y: scroll;
  scrollbar-width: none;
  border: 1px solid #b0b0b0;
  border-radius: 16px;
  padding: 18px;
  margin: 0 12px;
  box-shadow: 0px 5px 8px 2px #3535359e;
}

.loginForm .title {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.loginForm form {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.formScreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  text-align: center;
}

.inputs {
  display: flex;
  width: 100%;
  gap: 6px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.inputs label{
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.inputs input{
  width: 100%;
  min-height: 40px;
  text-align: center;
  border-radius: 6px;
  background-color: #b0b0b0;
  outline: none;
  border: none;
}

.inputs input:focus{
  box-shadow: 0px 5px 8px 2px #3535359e;
}

.buttons {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  min-height: 40px;
}

.buttons .btn{
  border: none;
  height: 100%;
  border-radius: 6px;
  background-color: #797a79db;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d6bd98;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 0 12px;
}

.buttons .btn:hover{
  box-shadow: 0px 0px 8px 5px #3535359e;
}