.chatWindow{
  width: 100%;
  height: 632px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  font-weight: 300;
}

.chatWindow .leftRender{
  background-color: #067bc3f5;
  color: #fff;
  align-self: flex-start;
  border-radius: 5px;
  border-top-left-radius: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chatWindow .rigthRender{
  background-color: #d0e9fb;
  align-self: flex-end;
  border-radius: 5px;
  border-top-right-radius: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chatWindow .leftRender .state{
  flex-direction: row-reverse;
}
.chatWindow .rigthRender .state{
  color: rgb(107, 107, 107);
}

.chatWindow .state .time{
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}
.chatWindow .state{
  padding-top: 3px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  color: #aedaf5;
  font-size: 12px;
  
}