@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #D8EFD3;
  --bgSecondary-color: #95D2B3;
  --text-color: #474747;
  --border-color: #55AD9B;
  --border2-color: #F1F8E8;
}

button{
  cursor: pointer;
  background-color: #FFF2D7;
  border-radius: 5px;
}

.contador button {
  display: content-box;
  outline: none;
  border: none;
  font-size: 30px;
  height: 29px;
}

.contador i{
  color: var(--text-color);
  position: relative;
  top: -1.5px;
}

.comprar button{
  padding: 5px;
  border: 2px solid var(--text-color);
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
}

body{
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  padding: 20px;
  background-color: var(--bgSecondary-color);
  height: 30%;
  width: 100%;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color);
  border-radius: 15px;
}

.text{
  color: var(--text-color);
  font-size: 30px;
  font-weight: 500;
}
